/* * {
  background-image: linear-gradient(
    to left,
    rgb(17, 49, 230),
    rgb(0, 166, 255)
  );
} */
body {
  background-image: linear-gradient(
    to left,
    rgb(17, 49, 230),
    rgb(0, 166, 255)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logger-header {
  margin-top: 1rem;
}

.logger-img {
  box-shadow: 10px 10px 10px rgb(32, 33, 33);
}
.logger-h {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;
  color: yellowgreen;
  text-shadow: 10px 10px 10px rgb(32, 33, 33);
}
.logger-form,
.logger-form input,
.register,
.register input {
  color: rgb(18, 4, 68);
  border-bottom: 0;
  border-top: 0;
}
.register {
  display: flex;
  padding: 0;
  display: none;
}
.logger-form button,
.register button {
  color: rgb(13, 9, 56);
  border-bottom: 0;
  border-top: 0;
  border-radius: 30%;
}
/* .form-input-user,
.form-input-pwd {
  display: none;
} */
/* .logger-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem;
} */
.logger-main img {
  margin: 2rem;
}

.header-bg-color {
  background-color: rgb(232, 147, 161);
  height: 5rem;
  position: fixed;
  top: 3.5rem;
}
.navi-bar {
  position: fixed;
  top: 0;
  min-width: 100vw;
}
.menu {
  position: fixed;
  left: 0;
  top: 10rem;
}
.name-price-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-weight: lighter;
  font-style: italic;
}
#submit {
  display: none;
}
/* #food {
  background-color: whitesmoke;
} */
.red {
  background-color: red;
}
.white {
  background-color: white;
}
.yellow {
  background-color: rgb(174, 237, 48);
}
.black {
  background-color: rgb(22, 18, 18);
}
.blue {
  background-color: rgb(55, 0, 255);
}
.containerBg-color {
  background-image: linear-gradient(
    to left,
    rgb(108, 108, 226),
    rgb(12, 190, 210)
  );
  margin-bottom: 0.5rem;
}
.category,
.company,
#prices {
  background-color: rgba(92, 92, 196, 0.526);
}
/* .category:focus {
  background-color: white;
} */
