/* * {
  background-image: linear-gradient(
    to left,
    rgb(17, 49, 230),
    rgb(0, 166, 255)
  );
} */
body {
  background-image: linear-gradient(
    to left,
    rgb(17, 49, 230),
    rgb(0, 166, 255)
  );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logger-header {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logger-img {
  box-shadow: 10px 10px 10px rgb(32, 33, 33);
}
.logger-h {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;
  color: yellowgreen;
  text-shadow: 10px 10px 10px rgb(32, 33, 33);
}
.logger-form,
.logger-form input {
  color: rgb(18, 4, 68);
  border-bottom: 0;
  border-top: 0;
}
.register {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end;
  /* display: none; */
}

.signUp {
  background-color: rgba(164, 206, 80, 0.656);
}
.fullName {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.logger-form button,
.sign-up {
  color: rgb(13, 9, 56);
  /* border-bottom: 0; */
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(
    to left,
    rgba(35, 230, 21, 0.578),
    rgba(44, 220, 17, 0.942)
  );
}
.register input {
  border-radius: 7px;
  border: none;
}
/* .form-input-user,
.form-input-pwd {
  display: none;
} */
/* .logger-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem;
} */
.logger-main img {
  margin: 1rem;
}

.header-bg-color {
  background-color: rgb(147, 192, 232);
  height: 5rem;
  position: fixed;
  top: 3.5rem;
  color: yellowgreen;
  text-shadow: 10px 10px 10px rgb(32, 33, 33);
}
.navi-bar {
  position: fixed;
  top: 0;
  min-width: 100vw;
}
.menu {
  position: fixed;
  left: 0;
  top: 10rem;
  background-color: yellowgreen;
}
.menu-sm {
  margin-top: 9rem;
  position: fixed;
}

.name-price-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-weight: lighter;
  font-style: italic;
}
#submit {
  display: none;
}
/* #food {
  background-color: whitesmoke;
} */
.red {
  background-color: red;
}
.white {
  background-color: white;
}
.yellow {
  background-color: rgb(174, 237, 48);
}
.black {
  background-color: rgb(22, 18, 18);
}
.blue {
  background-color: rgb(55, 0, 255);
}
.containerBg-color {
  background-image: linear-gradient(
    to left,
    rgb(108, 108, 226),
    rgb(12, 190, 210)
  );
  margin-bottom: 0.5rem;
}
.category,
.company,
#prices {
  background-color: rgba(92, 92, 196, 0.526);
}
.category:active,
.category:visited,
.colors:active {
  background-color: rgba(207, 94, 7, 0.526);
}
.account-name:hover,
.account-name:focus {
  background-color: rgba(218, 165, 32, 0.431);
  color: rgb(15, 2, 62);
  border: 2px solid #434343;
  border-radius: 13px;
}

.auction-page {
  margin-top: 10rem;
}
.auction-items {
  background-image: linear-gradient(
    to left,
    rgb(124, 140, 235),
    rgb(125, 178, 207)
  );
}
.user-deco {
  text-transform: uppercase;
  background-color: goldenrod;
  font-weight: bold;
}
/* 
@media screen and (min-width: 576px) {
  .menu {
    position: fixed;
    left: 0;
    top: 10rem;
    background-color: yellowgreen;
    margin-top: 0;
  }
} */
h5 {
  background-color: rgba(227, 109, 109, 0.742);
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: small;
}
h6 {
  background-color: rgba(35, 246, 7, 0.594);
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: small;
}
/* setting page style */
.setting {
  margin-top: 9rem;
}
.setting-index a {
  font-size: 800;
  padding: 0.5rem;
  color: black;
}
.save-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid black;
}
